<a href="https://colab.research.google.com/github/Sourav-Manik/Python_Programming/blob/main/Pandas_deep_dive.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#upload below dataset 
#euro 2012
#insurance
#purchase_data_exe

In [ ]:
import pandas as pd #Alias

**Different file types**

comma seperated file -> pd.read_csv(' ')

tab seperated file -> pd.read_csv(' ',sep = '\t')

pd.read_csv(' ',sep = '|')

In [ ]:
#read from another location
pd.read_csv(r'D:\AI\datasets\insurance.csv')

#1.Know your data

In [ ]:
data = pd.read_csv('/content/purchase_data_exe.csv')
data.head()

,date,customer_id,product_category,payment_method,value [USD],time_on_site [Minutes],clicks_in_site,Unnamed: 7
0,20/11/2018,37077,505,credit,49.53,12.0,8,NaN
1,20/11/2018,59173,509,paypal,50.61,25.9,8,NaN
2,20/11/2018,41066,507,credit,85.99,34.9,11,NaN
3,20/11/2018,50741,506,credit,34.60,16.5,9,NaN
4,20/11/2018,53639,515,paypal,266.27,43.1,30,NaN

In [ ]:
data.tail()

,date,customer_id,product_category,payment_method,value [USD],time_on_site [Minutes],clicks_in_site,Unnamed: 7
24994,29/11/2018,33699,513,credit,55.89,45.1,7,NaN
24995,29/11/2018,38652,501,paypal,136.27,61.0,11,NaN
24996,29/11/2018,30222,504,paypal,427.45,52.8,45,NaN
24997,29/11/2018,30183,507,credit,981.81,58.2,76,NaN
24998,29/11/2018,46662,505,credit,6.10,47.2,6,NaN

**Terminology Alert:**

**ROWS** - observations/ records/ datapoints

**COLUMNS** - features/ parameters

In [ ]:
data.shape #Attribute

(24999, 8)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24999 entries, 0 to 24998
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   date                    24999 non-null  object
 1   customer_id             24999 non-null  int64
 2   product_category        24999 non-null  int64
 3   payment_method          24999 non-null  object
 4   value [USD]             24999 non-null  float64
 5   time_on_site [Minutes]  24999 non-null  float64
 6   clicks_in_site          24999 non-null  int64
 7   Unnamed: 7              0 non-null      float64
dtypes: float64(3), int64(3), object(2)
memory usage: 1.5+ MB

In [ ]:
data.isna().sum()

date                          0
customer_id                   0
product_category              0
payment_method                0
value [USD]                   0
time_on_site [Minutes]        0
clicks_in_site                0
Unnamed: 7                24999
dtype: int64

In [ ]:
data.describe()

,customer_id,product_category,value [USD],time_on_site [Minutes],clicks_in_site,Unnamed: 7
count,24999.000000,24999.000000,24999.000000,24999.000000,24999.000000,0.0
mean,35047.126765,507.918797,203.248763,73.132649,16.039642,NaN
std,14448.792961,4.288552,208.015747,150.983919,13.396365,NaN
min,10000.000000,501.000000,0.000000,2.000000,0.000000,NaN
25%,22500.000000,504.000000,57.170000,13.300000,8.000000,NaN
50%,35184.000000,508.000000,136.720000,24.100000,11.000000,NaN
75%,47468.000000,512.000000,278.815000,43.000000,19.000000,NaN
max,59998.000000,515.000000,2177.040000,655.000000,167.000000,NaN

In [ ]:
data['product_category'].unique()

array([505, 509, 507, 506, 515, 501, 514, 512, 503, 510, 508, 511, 504,
       513, 502])

In [ ]:
data.describe(include='all')

,date,customer_id,product_category,payment_method,value [USD],time_on_site [Minutes],clicks_in_site,Unnamed: 7
count,24999,24999.000000,24999.000000,24999,24999.000000,24999.000000,24999.000000,0.0
unique,10,NaN,NaN,2,NaN,NaN,NaN,NaN
top,23/11/2018,NaN,NaN,credit,NaN,NaN,NaN,NaN
freq,7292,NaN,NaN,14459,NaN,NaN,NaN,NaN
mean,NaN,35047.126765,507.918797,NaN,203.248763,73.132649,16.039642,NaN
std,NaN,14448.792961,4.288552,NaN,208.015747,150.983919,13.396365,NaN
min,NaN,10000.000000,501.000000,NaN,0.000000,2.000000,0.000000,NaN
25%,NaN,22500.000000,504.000000,NaN,57.170000,13.300000,8.000000,NaN
50%,NaN,35184.000000,508.000000,NaN,136.720000,24.100000,11.000000,NaN
75%,NaN,47468.000000,512.000000,NaN,278.815000,43.000000,19.000000,NaN
max,NaN,59998.000000,515.000000,NaN,2177.040000,655.000000,167.000000,NaN

In [ ]:
data['product_category'].nunique()

15

In [ ]:
#chain method
data.groupby(by='payment_method')['value [USD]'].sum().sort_values(ascending=False).head(1)

payment_method
credit    3041655.04
Name: value [USD], dtype: float64

#2.Filtering and Sorting

In [ ]:
euro12 = pd.read_csv('/content/Euro 2012 stats TEAM.csv')

In [ ]:
euro12.head()

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,Headed goals,Passes,Passes completed,Passing Accuracy,Touches,Crosses,Dribbles,Corners Taken,Tackles,Clearances,Interceptions,Clearances off line,Clean Sheets,Blocks,Goals conceded,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,2,1076,828,76.9%,1706,60,42,14,49,83,56,NaN,0,10,3,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,0,1565,1223,78.1%,2358,46,68,21,62,98,37,2.0,1,10,6,9,60.1%,53,73,8,7,0,11,11,19
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,3,1298,1082,83.3%,1873,43,32,16,40,61,59,0.0,1,10,5,10,66.7%,25,38,8,4,0,7,7,15
3,England,5,11,18,50.0%,17.2%,40,0,0,0,3,1488,1200,80.6%,2440,58,60,16,86,106,72,1.0,2,29,3,22,88.1%,43,45,6,5,0,11,11,16
4,France,3,22,24,37.9%,6.5%,65,1,0,0,0,2066,1803,87.2%,2909,55,76,28,71,76,58,0.0,1,7,5,6,54.6%,36,51,5,6,0,11,11,19

In [ ]:
pd.set_option('max_columns',None) #to display maximum columns

In [ ]:
euro12 = euro12[['Team','Goals','Shooting Accuracy','Yellow Cards','Red Cards']]
euro12.head()

             Team  Goals Shooting Accuracy  Yellow Cards  Red Cards
0         Croatia      4             51.9%             9          0
1  Czech Republic      4             41.9%             7          0
2         Denmark      4             50.0%             4          0
3         England      5             50.0%             5          0
4          France      3             37.9%             6          0

In [ ]:
euro12.sort_values(by='Red Cards',ascending =False,inplace = True) #inplace = true will update the data of the root variable 
euro12.head()

                   Team  Goals Shooting Accuracy  Yellow Cards  Red Cards
6                Greece      5             30.7%             9          1
9                Poland      2             39.4%             7          1
11  Republic of Ireland      1             36.8%             6          1
0               Croatia      4             51.9%             9          0
1        Czech Republic      4             41.9%             7          0

In [ ]:
euro12[euro12['Red Cards'] >=1]

                   Team  Goals Shooting Accuracy  Yellow Cards  Red Cards
6                Greece      5             30.7%             9          1
9                Poland      2             39.4%             7          1
11  Republic of Ireland      1             36.8%             6          1

In [ ]:
euro12[(euro12['Red Cards'] ==1) & (euro12['Yellow Cards'] >=5)]

                   Team  Goals Shooting Accuracy  Yellow Cards  Red Cards
6                Greece      5             30.7%             9          1
9                Poland      2             39.4%             7          1
11  Republic of Ireland      1             36.8%             6          1

#3.Indexing

In [ ]:
import pandas as pd

In [ ]:
euro_2012 = pd.read_csv('/content/Euro 2012 stats TEAM.csv')

In [ ]:
euro_2012

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,6,54.6%,36,51,5,6,0,11,11,19
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,13,65.1%,67,48,12,9,1,12,12,20
7,Italy,6,34,45,43.0%,7.5%,110,2,0,0,...,20,74.1%,101,89,16,16,0,18,18,19
8,Netherlands,2,12,36,25.0%,4.1%,60,2,0,0,...,12,70.6%,35,30,3,5,0,7,7,15
9,Poland,2,15,23,39.4%,5.2%,48,0,0,0,...,6,66.7%,48,56,3,7,1,7,7,17
10,Portugal,6,22,42,34.3%,9.3%,82,6,0,0,...,10,71.5%,73,90,10,12,0,14,14,16
11,Republic of Ireland,1,7,12,36.8%,5.2%,28,0,0,0,...,17,65.4%,43,51,11,6,1,10,10,17
12,Russia,5,9,31,22.5%,12.5%,59,2,0,0,...,10,77.0%,34,43,4,6,0,7,7,16
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18
14,Sweden,5,17,19,47.2%,13.8%,39,3,0,0,...,8,61.6%,35,51,7,7,0,9,9,18
15,Ukraine,2,7,26,21.2%,6.0%,38,0,0,0,...,13,76.5%,48,31,4,5,0,9,9,18

Get first 5 observations and first 5 features

In [ ]:
euro_2012.iloc[:5,:5]

             Team  Goals  Shots on target  Shots off target Shooting Accuracy
0         Croatia      4               13                12             51.9%
1  Czech Republic      4               13                18             41.9%
2         Denmark      4               10                10             50.0%
3         England      5               11                18             50.0%
4          France      3               22                24             37.9%

In [ ]:
euro_2012.iloc[0,2]

13

In [ ]:
euro_2012.iloc[[0,2,3],:]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,22,88.1%,43,45,6,5,0,11,11,16

In [ ]:
euro_2012.iloc[[0,2,3],[2,3,4]]

   Shots on target  Shots off target Shooting Accuracy
0               13                12             51.9%
2               10                10             50.0%
3               11                18             50.0%

In [ ]:
euro_2012.loc[[0,2,3],['Team','Goals']]

      Team  Goals
0  Croatia      4
2  Denmark      4
3  England      5

#4.Delete

In [ ]:
euro_2012.head()

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,6,54.6%,36,51,5,6,0,11,11,19

In [ ]:
del(euro_2012['Shots on target']) #multiple columns/features cannot be deleted in 'del' function

In [ ]:
euro_2012.head()

,Team,Goals,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,Headed goals,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,12,51.9%,16.0%,32,0,0,0,2,...,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,18,41.9%,12.9%,39,0,0,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
2,Denmark,4,10,50.0%,20.0%,27,1,0,0,3,...,10,66.7%,25,38,8,4,0,7,7,15
3,England,5,18,50.0%,17.2%,40,0,0,0,3,...,22,88.1%,43,45,6,5,0,11,11,16
4,France,3,24,37.9%,6.5%,65,1,0,0,0,...,6,54.6%,36,51,5,6,0,11,11,19

In [ ]:
euro_2012.drop(labels=['Shots off target','Total shots (inc. Blocked)'],axis = 1,inplace=  True)

#to delete multiple columns/fetures we can use 'drop' function.
#axis = 1 means drop the columns and axis = 0 means drop the rows/records)

In [ ]:
euro_2012.head()

,Team,Goals,Shooting Accuracy,% Goals-to-shots,Hit Woodwork,Penalty goals,Penalties not scored,Headed goals,Passes,Passes completed,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,51.9%,16.0%,0,0,0,2,1076,828,...,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,41.9%,12.9%,0,0,0,0,1565,1223,...,9,60.1%,53,73,8,7,0,11,11,19
2,Denmark,4,50.0%,20.0%,1,0,0,3,1298,1082,...,10,66.7%,25,38,8,4,0,7,7,15
3,England,5,50.0%,17.2%,0,0,0,3,1488,1200,...,22,88.1%,43,45,6,5,0,11,11,16
4,France,3,37.9%,6.5%,1,0,0,0,2066,1803,...,6,54.6%,36,51,5,6,0,11,11,19

#5.Creating series and Dataframe

Pandas is having 2 DataStructures.

1.Series - 1D

2.DataFrames - 2D

In [ ]:
data = [1,2,3]

In [ ]:
type(data)

list

In [ ]:
series_data = pd.Series(data = [1,2,3,4,5])
series_data

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
pd.DataFrame(data = {'Fname': ['Hamuna','Juhi'],
                     'Lname':['Vihari','Sri']})

    Fname   Lname
0  Hamuna  Vihari
1    Juhi     Sri

#6.Apply Function

In [ ]:
euro_2012.head(2)

,Team,Goals,Shooting Accuracy,% Goals-to-shots,Hit Woodwork,Penalty goals,Penalties not scored,Headed goals,Passes,Passes completed,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,51.9%,16.0%,0,0,0,2,1076,828,...,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,41.9%,12.9%,0,0,0,0,1565,1223,...,9,60.1%,53,73,8,7,0,11,11,19

In [ ]:
euro_2012['Goals'] = euro_2012['Goals'].apply(lambda x:x+2) #increasing 2 goals

In [ ]:
euro_2012.head(2)

,Team,Goals,Shooting Accuracy,% Goals-to-shots,Hit Woodwork,Penalty goals,Penalties not scored,Headed goals,Passes,Passes completed,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,6,51.9%,16.0%,0,0,0,2,1076,828,...,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,6,41.9%,12.9%,0,0,0,0,1565,1223,...,9,60.1%,53,73,8,7,0,11,11,19

In [ ]:
euro_2012['Goals_more_than_5'] = euro_2012['Goals'].apply(lambda x:1 if x>5 else 0)

In [ ]:
euro_2012.head(2)

,Team,Goals,Shooting Accuracy,% Goals-to-shots,Hit Woodwork,Penalty goals,Penalties not scored,Headed goals,Passes,Passes completed,...,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used,Goals_more_than_5
0,Croatia,6,51.9%,16.0%,0,0,0,2,1076,828,...,81.3%,41,62,2,9,0,9,9,16,1
1,Czech Republic,6,41.9%,12.9%,0,0,0,0,1565,1223,...,60.1%,53,73,8,7,0,11,11,19,1

#7.Merge| Concat| Append

In [ ]:
#data.append([data1,data2])
#pd.concat([data1,data2,data3])

#8.Grouping vs Crosstab vs Pivot-table

In [ ]:
insurance_data = pd.read_csv('/content/insurance.csv')

In [ ]:
insurance_data.head()

   age     sex   bmi  children smoker     region  expenses
0   19  female  27.9         0    yes  southwest  16884.92
1   18    male  33.8         1     no  southeast   1725.55
2   28    male  33.0         3     no  southeast   4449.46
3   33    male  22.7         0     no  northwest  21984.47
4   32    male  28.9         0     no  northwest   3866.86

In [ ]:
insurance_data.groupby(by=['region','smoker'])['expenses'].mean()

region     smoker
northeast  no         9165.531946
           yes       29673.536269
northwest  no         8556.463558
           yes       30192.002759
southeast  no         8032.216300
           yes       34844.997253
southwest  no         8019.285019
           yes       32269.064138
Name: expenses, dtype: float64

In [ ]:
pd.pivot_table(data = insurance_data,values = 'expenses',index = 'smoker',columns = 'region',aggfunc='mean')

region     northeast     northwest     southeast     southwest
smoker
no       9165.531946   8556.463558   8032.216300   8019.285019
yes     29673.536269  30192.002759  34844.997253  32269.064138

In [ ]:
pd.crosstab(index =insurance_data['smoker'] ,columns = insurance_data['region'],margins = True)

region  northeast  northwest  southeast  southwest   All
smoker
no            257        267        273        267  1064
yes            67         58         91         58   274
All           324        325        364        325  1338

In [ ]:
#End